---
---

@mixin even_spread ($width, $count) {
  width: $width / $count
}

@mixin text_glow ($color) {
  color: $color;
  text-shadow: $color 0 0 .125em;
}

body {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #0c355e;

  header {
    top: 0;
    left: 0;
    font-color: #ddd;

    h1 {
      position: absolute;
      width: 19.0983006%;
      font-size: 3em;
      margin: 0;

      a {
        color: #ddd;
        &:hover {
          @include text_glow(#99c6f2);
        }
      }
    }

    nav {
      position: absolute;
      width: 61.8033989%;
      left: 19.0983006%;
      color: #ddd;
      margin: 0;
      height: 3em;
      text-align: center;
      vertical-align: middle;


      h2 {
        top: 0;
        padding: 0;
        margin: 0;
        font-size: 2em;

        a {
          padding: .25em;
          margin: 0;
          @include even_spread(61.8033989%, 5);
          color: #ddd;
          position: relative;
          display: table-cell;
          list-style: none;

          &:hover {
            @include text_glow(#99c6f2);
          }
        }
      }
    }
  }

  #logo {
    text-align: right;
  }

  header, footer {
    position: absolute;
    height: 3em;
    left: 0;
    right: 0;
    background-color: #333;
    box-shadow: 0 0 .25em .25em black;
    z-index: 1;
  }

  footer {
    bottom: 0;
  }

  section {
    height: 100%;
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-bottom: 5em;
    // position: absolute;
    top: 0;
    bottom: 0;
    background-color: #eee;
    overflow: auto;
    box-shadow: 0 0 .125em .125em #0b345d, inset 0 0 .125em .125em #ddd;

    article {
      padding-bottom: 35em;
    }
  }

  #content {
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    bottom: 0;
    width: 61.8033989%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Allan', sans-serif;

    a {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  @import "display";
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  @import "ipad";
}

@media screen and (max-width: 768px) {
  @import "iphone";
}
