body {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #0c355e; }
  body header {
    top: 0;
    left: 0;
    font-color: #ddd; }
    body header h1 {
      position: absolute;
      width: 19.0983006%;
      font-size: 3em;
      margin: 0; }
      body header h1 a {
        color: #ddd; }
        body header h1 a:hover {
          color: #99c6f2;
          text-shadow: #99c6f2 0 0 0.125em; }
    body header nav {
      position: absolute;
      width: 61.8033989%;
      left: 19.0983006%;
      color: #ddd;
      margin: 0;
      height: 3em;
      text-align: center;
      vertical-align: middle; }
      body header nav h2 {
        top: 0;
        padding: 0;
        margin: 0;
        font-size: 2em;
        width: 12.361%;
        position: relative;
        display: table-cell;
        padding: .25em; }
        body header nav h2 a {
          color: #ddd; }
          body header nav h2 a:hover {
            color: #99c6f2;
            text-shadow: #99c6f2 0 0 0.125em; }
  body #logo {
    text-align: right; }
  body header, body footer {
    position: absolute;
    height: 3em;
    left: 0;
    right: 0;
    background-color: #333;
    box-shadow: 0 0 .25em .25em black;
    z-index: 1; }
  body footer {
    bottom: 0; }
  body section {
    height: 100%;
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-bottom: 5em;
    top: 0;
    bottom: 0;
    background-color: #eee;
    overflow: auto;
    box-shadow: 0 0 .125em .125em #0b345d, inset 0 0 .125em .125em #ddd; }
    body section article {
      padding-bottom: 5em; }
  body #content {
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    bottom: 0;
    width: 61.8033989%; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Allan', sans-serif; }
    body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
      text-decoration: none; }
