<html>
  <head>
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <script src="https://raw.github.com/LeaVerou/prefixfree/master/prefixfree.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/public/stylesheets/site.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Allan:700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-27943372-1"]);
      _gaq.push(["_trackPageview"]);

      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <div id="content">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
